* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 20px;
    text-align: left center;
    color: white;
    
  }
  .header{
    background-image: url(uve-sanchez-9DRX_cW48RQ-unsplash.jpg);
    background-size: cover;
    background-position: 35%;
  }
  
  /* Increase the font size of the heading */
  .header h1 {    font-size: 60px;  }

  .header p {     font-size: 20px;  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #5f8056;
    color: black;
  }
  
  /* Change color on active */
  .navbar a:active {
    background-color: #5f8056
    color black;
  }
  

  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 10%;
    background-color: rgb(70, 91, 65);
    color: #ffffff ;
    padding: 20px;
    width: 20%;
  }

  .side p {
    font-size: 15px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 65%; /* IE10 */
    flex: 75%;
    background-color: white;
    padding: 20px 60px;
    font-size: 15px;
    width: 70%;
  }
  
.sidde {
  padding: 30;
  flex: 30%;
  width: 30%;
}

  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
    object-fit: cover;
    object-position: center right;
  }

  .fakeimg2 {
    width: 100%;
    padding: 0px;
    object-fit: cover;
    object-position: center center;
  }
  .fakeimg3 {
    width: 100%;
    padding: 0px;
    object-fit: cover;
    object-position: top;
  }

  .icon {
    background-color: #aaa;
    width: 100%;
    padding: 0px;
    object-fit: cover;
    object-position: center right;

  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: end;
  }

  .footer{
    background-image: url(tanner-vote-rKgb2jb7wk0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35%;
    color: white;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }


img:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}



/*.image-container {
  position: relative;
  margin: 0;
  overflow: hidden;
  border-radius: 5px;
}
.image-container:hover .text-overlay {
  opacity: 1;
}
.image-container img {
  max-width: 100%;
  height: auto;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 300px;
  height: 200px%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}*/