* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*--Header/logo Title-------------------------------------------------------------------------------------*/

.header {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  background-image: url(uve-sanchez-9DRX_cW48RQ-unsplash.jpg);
  opacity: 1;
  background-size: cover;
  background-position: 35%;
  color: rgb(26, 48, 17);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.roller {
  height: 4rem;
  /*unit of measurement that's based on the font size of the root element, 4keer de font grootte*/
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d572f;

}

.roller #rolltext {
  position: absolute;

  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {top: 0;}
  25% {top: -4rem;}
  50% {top: -8rem;}
  72.5% {top: -12.25rem;}
}

.header h1 {
  font-size: 60px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

/*--Style the top navigation bar-------------------------------------------------------------------------------------*/

.navbarproject {
  overflow: hidden;
  background-color: var(--bg-color-nav);
  position: fixed;
  /*navigation bar vast zetten*/
  width: 100%;
}

.navbarproject a,
.navbarproject b,
.navbar a,
.navbar b {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 15px;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar a,
.navbar b {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar a,
.navbarproject a {
  float: right;
}

.navbar b,
.navbarproject b {
  float: left;
}

/*b is voor light and darkmode*/

.navbar a:hover,
.navbar b:hover,
.navbarproject a:hover,
.navbarproject b:hover {
  background-color: rgb(93, 123, 84,0.7);
  color: black;
}

.navbar a:active,
.navbar b:active,
.navbarproject a:active,
.navbarproject b:active {
  background-color: rgb(255, 255, 255,0.5);;
  color: black;
}

/*--Column container----------------------------------------------------------------------*/

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

/*---------------------------------------------------------------------------------------*/

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

:root {
  --bg-color-side: rgb(50, 50, 50);
  --bg-color-main: rgb(70, 70, 70);
  --bg-color-row: rgb(255, 255, 255);
  --bg-color-nav: rgb(0, 0, 0);
  --text-color: rgb(255, 255, 255);
}

.dark-mode {
  --bg-color-side: rgb(50, 50, 50);
  --bg-color-main: rgb(70, 70, 70);
  --text-color: rgb(255, 255, 255);
  --bg-color-nav: rgb(0, 0, 0);
  --bg-color-row: rgb(255, 255, 255);
}

.light-mode {
  --bg-color-side: rgb(200, 200, 200);
  --bg-color-main: rgb(255, 255, 255);
  --bg-color-row: rgb(230, 230, 230);
  --bg-color-nav: rgb(100, 100, 100);
  --text-color: black;
}

.side {
  flex: 20%;
  background-color: var(--bg-color-side);
  color: var(--text-color);
  padding: 20px;
}

.sideproject {
  flex: 10%;
  width: 20%;
  background-color: var(--bg-color-side);
  color: var(--text-color);
  padding: 20px;
}

.side p ,.sideproject{
  font-size: 15px;
}

/*---------------------------------------------------------------------------------------*/

.main {
  width: 80%;
  /*color: #ffffff;
  background-color: rgb(70, 70, 70);*/
  color: var(--text-color);
  background-color: var(--bg-color-main);
  padding: 20px 30px 100px;
  font-size: 15px;
}


.maintext {
  float: left;
  width: 80%;
  padding: 10px;
  /*color: white;*/
}

.mainleeg {
  float: right;
  width: 20%;
  padding: 10px;
  color: white;
}

.mainproject {
  -ms-flex: 65%;
  flex: 75%;
  /*background-color: rgb(44, 44, 44);*/
  color: var(--text-color);
  background-color: var(--bg-color-main);
  padding: 20px 60px;
  font-size: 15px;
  width: 70%;
}

/*.sidde {
  padding: 30;
  flex: 30%;
  width: 30%;
}*/

/*---------------------------------------------------------------------------------------*/

.profielfoto {
  width: 100%;
  padding: 0px;
  object-fit: cover;
  object-position: center right;
}

.profielfoto:hover {
  transform: translatex(17%) scale(130%);
  transition: transform 0.3s ease-in-out;
}

/*----zijkant bij school en werk ervaring-----------------------------------------------------------------------------------*/

.icons {
  height: 20px;
  width: 20px;
  padding: 0px;
  object-fit: cover;
  object-position: center center;
}

.icons:hover {
  transform: translatex(150%) scale(300%);
}

/*----staat ondere de projecten-----------------------------------------------------------------------------------*/

.footer {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.footer a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: wavy;
  font-size: 15px;
}

.footer a:hover {
  background-color: #5f8056;
  color: black;
}

.footer a:active {
  background-color: #ffffff;
  color: black;
}

/*---------------------------------------------------------------------------------------*/

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.projectcontainer {
  /*plaats voor foto project*/
  position: relative;
  width: 93%;
  height: 100%;
  margin: 3.4%;
  overflow: hidden;
  border-radius: 5px;
}

.projectcontainer:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease-in-out;
}

.overlay {
  /*overlay als je erover hovert*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  font-size: 40px;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

}

.projectcontainer:hover .overlay {
  opacity: 1;
}

.scholen:hover {
  transform: scale(110%) translatex(2%);
  transition: transform 0.3s ease-in-out;
}

/*---------------------------------------------------------------------------------------*/

.Intro {
  /*intro waarin text en een lege kolom komt*/
  width: 100%;
  background-color: #0a9265;
}

.project {
  width: 100%;
}

/*.projectrow1 {float: left;width: 100%;border-radius: 10px;background-color: #ffffff;padding: 10px;color: black;text-align: center;}

.projectrow10 {float: left;width: 100%;height: 100%;border-radius: 10px;padding: 3px;}*/

/*3 rows op de home pagina onder intro*/
.projectrow2,
.projectrow3 {
  width: 49%;
  border-radius: 10px;
  background-color: var(--bg-color-row);
  /*background-color: #ffffff;*/
  align-items: center;
  padding: 3px;
}

.projectrowtussen {
  float: left;
  width: 2%;
  border-radius: 10px;
  padding: 3px;
}

.projectrow2 {
  float: left;
}

.projectrow3 {
  float: right;
}

/*---------------------------------------------------------------------------------------*/


/* waarin projcten komen bij de random projecten*/
.random1deel {
  float: left;
  margin: 1%;
  width: 46%;
  border-radius: 10px;
  background-color: var(--bg-color-row);
  padding: 10px;
  color: black;
  text-align: center;
}

/*.gegevens p {
  padding-left: 30%;
  font-size: x-large;
}

#tekst {
  text-align: center;
}

.contactboxthing {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;

}

.col1 {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.col2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.gegevens p {
  padding-left: 30%;
  font-size: x-large;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 180px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

form input,
form textarea {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  width: 100%;
}

form textarea {
  height: 150px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #666;
}*/


/*.column {
  width: 48%;
}*/


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .side {
    max-width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


/* voor de duwbare box bij werk ervaring */
.box {
  display: inline-block;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
}

.box:hover {
  background-color: transparent;
}






.game{
  width: 90%;
  height: 200px;
  border: 1px solid black;
  margin: auto;
}

#character{
  width: 20px;
  height: 50px;
  background-color: rgb(61, 61, 61);
  position:relative;
  top: 150px;
}

.animate{
  animation: jump 0.3s linear;
}

@keyframes jump{
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

#block{
  background-color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 100%;
  animation: block 1s infinite linear;
}

@keyframes block{
  0%{left: 100%}
  100%{left: -20px}
}




#mazeContainer {
  top: 15px;
  opacity: 0;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
}
#mazeContainer #mazeCanvas {
  margin: 0;
  display: block;
  border: solid 2px black;
  height: 400px;
}
input, select {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.30);
  height: 45px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  appearance: none;
}
input:hover, select:hover {
background-color: rgba(0, 0, 0, 0.70);
}
input:active, select:active {
background-color: black;
}
input:focus, select:focus {
outline: none;
}
.custom-select {
display: inline-block;
}
.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 125px center;
}
#Message-Container {
  visibility: hidden;
  color: white;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 1;
}
#Message-Container #message {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
#page {
text-align: center;
height: auto;
width: auto;
margin: auto;
}
#page #menu {
  margin: auto;
  padding: 10px;
  height: 65px;
  box-sizing: border-box;
}
#page #menu h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 3.2rem;
}
#page #view {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.border {
  border: 10px black solid;
  border-radius: 10px;
}

#instructions {
  margin-top: 425px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
